{% include base_path %}
<div class="page__footer-copyright">&copy;
  <span class="page__footer-copyright" id="page__footer-time">{{ site.time | date: '%Y' }}</span>
  <span>{{ site.name | default: site.title }}.</span>
  <script>
    function getNowTime() {
      // 获取时分秒
      let now = new Date()
      let hour = now.getHours()
      let minute = now.getMinutes()
      let second = now.getSeconds()
      return hour + ':' + minute + ':' + second
    }
    setInterval(() => {
      // 操作页面DOM，显示正确的时间 setInterval会间隔时间永远执行
      document.querySelector('#page__footer-time').innerHTML = getNowTime()
    }, 1000)
  </script>
</div>